@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.todos-bgContainer {
    background-color: white;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.checked {
    text-decoration: line-through;
}

.todos-heading {
    color: #19093d;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: bold;
}

.create-task-heading {
    color: #4b3f69;
    text-align: left;
    font-size: 35px;
    font-family: "Roboto";
    font-weight: bold;
}

.create-task-subpart-heading {
    color: #4b3f69;
    text-align: left;
    font-size: 35px;
    font-family: "Roboto";
    font-weight: normal;
}

.user-input-text {
    width: 90%;
    background-color: #bfe3f2;
    margin: 13px;
    padding: 15px;
    border-radius: 13px;
    border-width: 1px;
}

.todo-add-button {
    color: white;
    font-size: 18px;
    height: 35px;
    width: 75px;
    background-color: #6891e8;
    border-radius: 8px;
    margin: 10px;
    font-weight: normal;
    border-width: 1px;
}

.my-task-heading {
    color: #4b3f69;
    text-align: left;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
}

.my-task-subpart-heading {
    color: #4b3f69;
    text-align: left;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: normal;
}

.label-container {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
}